@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700;800&family=Noto+Serif:wght@400;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600&display=swap');

:root {
  // typography
  --familyForHeadings: "IBM Plex Sans", sans-serif;
  //--familyForHeadings: "Noto serif", serif;
  --Notofamily: "Noto serif", serif;
  --Bitterfamily: "Bitter", serif;
  --OpenSansfamily: "IBM Plex Sans", sans-serif; // "Open Sans", sans-serif;
  --IBMPlexfamily: "IBM Plex Sans", sans-serif;

  --FontSubheading1: 500 12px/18px var(--IBMPlexfamily);

  --section-title: 600 16px/18px var(IBMPlexfamily);

  --card-title: 600 14px/18px var(IBMPlexfamily);
  --card-content: 500 12px/18px var(--OpenSansfamily);

  --FontforStrap: 500 12px/18px var(--OpenSansfamily);
  --FontforRegular: 400 15px/22px var(--OpenSansfamily);

  // colors
  --white-a100: #ffffff;
  --white-a200: #797d8a;
  --white-a300: #f5f7fd;
  --grey-40: #c2c9de;
  --grey-50: #42444b;
  --grey-60: #9da2b4;
  --grey-70: #777b88;
  --grey-80: #5f626c;
  --grey-90: #42444b;
  --grey-100: #232428;
  --blue-50: #cbcbf5;
  --blue-100: #d0d0de;
  --blue-200: #4f4f77;
  --blue-400: #4949b6;
  --blue-800: #4343a4;

  //--teal-100: #d7fad6;
  //--teal-200: #7ee3ea;
  //--teal-400: #66bac0;
  --teal-100: rgba(105, 102, 95, 0.95);
  --teal-200: rgba(105, 102, 95, 0.95);
  --teal-400: rgba(105, 102, 95, 0.70);
  --teal-600: rgba(59, 62, 77, 0.95);

  --section-border: 1px solid #f5f5f6;

  // background colors
  --background-pink100: #f8f0f2;
  --background-pink200: #faf7f7;
  --background-pink300: rgba(232, 206, 219, 0.4);

  --background-yellow100: rgba(253, 250, 238, 0.44);
  --background-yellow200: rgba(239, 232, 209, 0.15);
  --background-green100: rgba(220, 252, 236, 0.44);
  --background-green200: rgba(221, 250, 225, 0.15);

  --background-brown100: rgba(103, 86, 64, 0.07);
  --background-brown200: rgb(237, 244, 246);

}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: var(--OpenSansfamily);
  font-weight: 500;
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
  color: var(--grey-90);
  display: block;
  position: relative;
  width: 100vw;
  //overflow: hidden;

}

@mixin backgroundGradient($col1,$col2, $col3) {
  background: linear-gradient(to left, $col1 0, $col2 20%, $col3 59%),
  radial-gradient(ellipse at top, $col1 0, $col2 20%, $col3 60%);
}
@mixin iconSpan($icon:'close') {
  content: $icon;
  font-family: "Material Icons";
  font-size: 12px;
  padding-right: 10px;
  line-height: 15px;
  vertical-align: bottom;
  transform: translateY(0px);
}
@mixin listContentStyle() {
  font-size: 12px;
  margin: 1px;
  font-stretch: semi-expanded;
  //color:purple;
  color: var(--grey-50);

}
@mixin listContentTitle() {
  font: var(--FontSubheading1);
  font-stretch: semi-expanded;
  color: var(--grey-80);
  //color: red;
}
@mixin section-title() {

  font-weight: 500;
  color: white;
  text-shadow: 0.05em 0.05em 0.05em whitesmoke;
  -webkit-text-stroke: 0.01em white;
  letter-spacing: 3px;
  font-size: 12px;
  writing-mode: vertical-rl;
  padding: 10px;
  background-color: #9da2b4;
  text-align: center;
}
.section-grid:nth-child(n + 1) > .section-title {
  border-top: 4px solid #dcd8a9;
  border-bottom: 6px solid #c28615;
}
.section-grid:nth-child(2n + 1) > .section-title {
  border-top: 4px solid #91bba5;
  border-bottom: 4px solid #adad65;
}
@mixin regularContent() {
  //background-color: var(--grey-80);
  padding-left: 18px;
  padding-top: 16px;
  font: var(--FontforRegular);
  //line-height: 19px;
  //background-color: red;
}
@mixin regularTitle() {
  //background-color: var(--grey-80);
  padding-left: 18px;
  padding-top: 16px;
  font: var(--FontforRegular);
  line-height: 19px;
}
@mixin regularSemiBoldTitle() {
  //background-color: var(--grey-80);
  font: var(--FontforRegular);
  font-weight: 600;
  line-height: 19px;
  //background-color: lightgoldenrodyellow;
}

/***
 *          _           _  _
 *     ___ | |_  _   _ | |(_) _ __    __ _
 *    / __|| __|| | | || || || '_ \  / _` |
 *    \__ \| |_ | |_| || || || | | || (_| |
 *    |___/ \__| \__, ||_||_||_| |_| \__, |
 *               |___/               |___/
 */
body {
  background-color: var(--teal-400);
}
body:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(127, 127, 127, 0.05);
  $cc: rgba(gainsboro, .93);
  background-image: radial-gradient($cc 33%, transparent 33%);
  background-size: .1rem .2rem;
  z-index: -10000;

}
section {
  border: var(--section-border);
  margin-top: 5px;
  border-radius: 8px;
  padding: 20px 10px;
  margin-bottom: 18px;
  background-color: whitesmoke;
}
.material-icons {
  font-variant: normal;
  font-size: 1.3em !important;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: .5;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.em {
  color: var(--grey-80) !important;
  font-weight: 600;
}
.dim {
  font: var(--FontforStrap);
  color: var(--grey-80);
}

.header2 {
  margin-bottom: 18px;
  display: block;
  position: sticky;
  top:0;
  $col1: var(--teal-400);
  $col2: var(--teal-200);
  $col3: var(--teal-600);
  background: linear-gradient(to top, $col3 30%, $col1 50%, $col3 90%);
  box-shadow:

          0px 5px 18px -2px #948b5b;
  //border-bottom: 1px solid #000;
  text-align: start;

  .title-name {
    color: var(--white-a100);
    -webkit-text-stroke-width: 0.09rem;
    text-shadow: 0 1px 1px gainsboro;
    font-family: var(--familyForHeadings);
    font-weight: 500;
    font-size: 3.1em;
    padding-top: 15px;
    line-height: 1.1em;
    // text-shadow: 0 2px rgba(white, .1), 2px 0 5px rgba(palegreen, .1);
  }

  .title-contact {
    //font-variant: petite-caps;
    box-sizing: border-box;
    width: 100%;
    //color: orange;
    color: var(--white-a100);
    font-size: 11px;
    font-kerning: normal;
    //background-color: red;
  }

  .title-strap {
    font-size: 12px;
    color: var(--blue-100);
    font-stretch: semi-expanded;
  }

  .telephone, .email, .address, .contacts {
    font-stretch: expanded;
  }

  .telephone:before {
    @include iconSpan('telephone');

  }

  .email:before {
    // content: 'email';
    @include iconSpan('email');
  }

  .address:before {
    // content: 'home';
    @include iconSpan('home');
  }

  .contacts:before {
    // content: 'home';
    @include iconSpan('contacts');
  }
}

.skills-card-header {
  @include listContentTitle;
}
.skills-card-content {
  @include listContentStyle
}

// Industries.
.section-industries {
  .sectors-card-header {
    @include listContentTitle;
  }
}
.section-content {
  @include regularContent();
}

// PROFESSIONAL SUMMARY
.section-professional-summary {
  .professional-summary-title {
    //@include sectionTitle();
  }

  .professional-summary-content {
    margin-top: 24px;

    & > table {
      display: table;
      border-collapse: collapse;
      //border-radius: 8px;
      //border: 1px grey solid!important;

      & td {
        padding: 18px;
        border: var(--white-a300) solid 1px;
        //background-color: orange;
        vertical-align: top;
        text-align: left;
        @include regularContent;

        & .title {
          //border: 1px solid crimson;
          @include regularSemiBoldTitle;
          padding: 0 !important;
          margin: 0;
          text-align: center;
          vertical-align: center;
          margin-bottom: 16px;

        }

        &:first-child > p {
          text-align: left;
          padding-left: 8px;

        }
      }
    }

    tr:nth-child(odd) {
      $g1: var(--background-green100);
      $g2: var(--background-green200);
      $g3: white;
      @include backgroundGradient($g1, $g3, $g2);
    }

    tr:nth-child(even) {
      $g1: var(--background-brown100);
      $g2: var(--background-brown200);
      $g3: white;
      @include backgroundGradient($g1, $g3, $g2);
    }
  }

}


/***
 *     _                              _
 *    | |  __ _  _   _   ___   _   _ | |_
 *    | | / _` || | | | / _ \ | | | || __|
 *    | || (_| || |_| || (_) || |_| || |_
 *    |_| \__,_| \__, | \___/  \__,_| \__|
 *               |___/
 */

.main-container {
  display: block;
  position: relative;
  height: 100vh;
  overflow: auto;
}
@mixin section-grid() {
  //background-color: orange;
  margin-left: 18px;
  margin-right: 18px;
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr;
  > .title {
    @include section-title;
  }
  > .content {
    @include section-content;
  }
}
@mixin section-content() {
  display: block;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: transparent;
  margin-left: 10px;
}
.section-grid {
  @include section-grid;
 // box-shadow: 0px 1px 11px -3px rgba(black, .2);


}
.section-title {
  @include section-title
}
.section-content {
  @include section-content;
}
.header2 {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr;
  padding: 24px 20px 8px 24px;
  margin: 0;
  z-index: 1000;

  .title-name {
    display: inline-block;
    margin: 0;
  }

  .title-strap {
    margin-left: 14px;
  }

  .title-hr {
    //padding-top: 20px;
    //background-color: red;
    visibility: hidden;
  }

  .title-contact {
    border-top: solid .09em var(--blue-200);
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 10px;
    // padding-bottom: 1px;
    display: flex;
    justify-content: space-evenly;

    & span {
      margin-right: 4px;
    }
  }
}
.section-tech-skills {
  & ul {
    column-count: 3;
  }
}
@media screen {
  .header2:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(127, 127, 127, 0.05);
    $cc: rgba(gainsboro, .93);
    background-image: radial-gradient($cc 33%, transparent 33%);
    background-size: .06rem .06rem;

  }
}
@media print {
  body {
    max-width: 21cm;
    background: none;
  }
  .main-container {
    height: auto;
  }
  .header2 {
    color: #5f626c;
   position: relative;

   span,.title-name, .title-strap {
      color: #5f626c;

    }
    .header2:after {
      display: block;
      //background-color:white;
      //background-image: radial-gradient(white 33%, white 33%);
    }


  }

}
