//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700;800&family=Yrsa:wght@300;400;500;600;700&display=swap');//@import "palette";
//@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700;800&family=Roboto+Slab:wght@100;300;500;700;900&family=Yrsa:wght@300;400;500;600;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700;800&family=Montserrat&family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Poppins&family=Roboto+Slab:wght@100;300;500;700;900&family=Yrsa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700;800&family=Noto+Serif:wght@400;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


:root {
  // typography
  --familyForHeadings: "Noto serif", serif;
  --Notofamily: "Noto serif", serif;
  --Bitterfamily: "Bitter", serif;
  --OpenSansfamily: "Open Sans", sans-serif;
  --FontSubheading1: 500 12px/18px var(--Bitterfamily);

  --section-title: 600 16px/18px var(--Bitterfamily);

  --card-title: 600 14px/18px var(--Bitterfamily);
  --card-content: 500 12px/18px var(--OpenSansfamily);

  --FontforStrap: 500 12px/18px var(--OpenSansfamily);
  --FontforRegular: 400 15px/22px var(--OpenSansfamily);

  // colors
  --white-a100: #fff;
  --white-a200: #797d8a;
  --white-a300: #f5f7fd;
  --grey-40: #c2c9de;
  --grey-50: #42444b;
  --grey-60: #9da2b4;
  --grey-70: #777b88;
  --grey-80: #5f626c;
  --grey-90: #42444b;
  --grey-100: #232428;
  --blue-50: #cbcbf5;
  --blue-100: #c3c3f3;
  --blue-200: #6666ce;
  --blue-400: #4949b6;
  --blue-800: #4343a4;

  --section-border: 1px solid #c2c9de;

  // background colors
  --background-pink100: #f8f0f2;
  --background-pink200: #faf7f7;
  --background-pink300: rgba(232, 206, 219, 0.4);

  --background-yellow100: rgba(253, 250, 238, 0.44);
  --background-yellow200: rgba(239, 232, 209, 0.15);
  --background-green100: rgba(220, 252, 236, 0.44);
  --background-green200: rgba(221, 250, 225, 0.15);

  --background-brown100: rgba(103, 86, 64, 0.07);
  --background-brown200: rgb(237, 244, 246);

}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--OpenSansfamily);
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--grey-90)
}

@mixin backgroundGradient($col1,$col2, $col3){
  background: linear-gradient( to left, $col1 0, $col2 20%, $col3 59%),
  radial-gradient(ellipse at top, $col1 0, $col2 20%, $col3 60%);
}

@mixin iconSpan($icon:'close') {
  content: $icon;
  font-family: "Material Icons";
  font-size: 12px;
  padding-right: 10px;
  line-height: 15px;
  vertical-align: bottom;
  transform: translateY(0px);
}

// <ul> <li> bulleted lists
@mixin listContentStyle() {
  font-size: 12px;
  margin: 1px;
  font-stretch: semi-expanded;
  //color:purple;
  color: var(--grey-50);

}

@mixin listContentTitle() {
  font: var(--FontSubheading1);
  font-stretch: semi-expanded;
  color: var(--grey-80);
  //color: red;
}

@mixin sectionTitle() {
  //background-color: var(--grey-80);
  padding-left: 18px;
  padding-top: 8px;
  font: var(--section-title);

}

@mixin regularContent() {
  //background-color: var(--grey-80);
  padding-left: 18px;
  padding-top: 16px;
  font: var(--FontforRegular);
  //line-height: 19px;
  //background-color: red;
}

@mixin regularTitle() {
  //background-color: var(--grey-80);
  padding-left: 18px;
  padding-top: 16px;
  font: var(--FontforRegular);
  line-height: 19px;
}

@mixin regularSemiBoldTitle() {
  //background-color: var(--grey-80);
  font: var(--FontforRegular);
  font-weight: 600;
  line-height: 19px;
  //background-color: lightgoldenrodyellow;
}

/***
 *          _           _  _
 *     ___ | |_  _   _ | |(_) _ __    __ _
 *    / __|| __|| | | || || || '_ \  / _` |
 *    \__ \| |_ | |_| || || || | | || (_| |
 *    |___/ \__| \__, ||_||_||_| |_| \__, |
 *               |___/               |___/
 */
.material-icons {
  font-variant: normal;
  font-size: 1.3em !important;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: .5;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.em {
  color: var(--grey-80) !important;
  font-weight: 600;
}

.dim {
  font: var(--FontforStrap);
  color: var(--grey-80);
}

header {
  $col1: var(--blue-200);
  $col2: var(--blue-400);
  $col3: var(--blue-800);

  background: radial-gradient(closest-side, $col1 0, $col2 40%, $col3 60%),
  radial-gradient(circle at 10%, $col1 0, $col2 20%, $col3 60%),
  radial-gradient(ellipse at bottom, $col1 0, $col2 20%, $col3 60%);
  text-align: start;

  .title-name {
    //color: red;
    color: var(--white-a100);
    font-family: var(--familyForHeadings);
    font-weight: 300;
    font-kerning: normal;
    //font-variant: small-caps;
    font-stretch: normal;
    font-size: 3.1em;
    padding-top: 15px;
    line-height: 1.1em;
  }

  .title-contact {
    //font-variant: petite-caps;
    box-sizing: border-box;
    width: 100%;
    color: var(--white-a100);
    font-size: 11px;
    font-kerning: normal;
    //background-color: red;
  }

  .title-strap {
    font-size: 12px;
    color: var(--blue-100);
    font-stretch: semi-expanded;
  }

  .telephone, .email, .address, .contacts {
    font-stretch: expanded;
  }

  .telephone:before {
    @include iconSpan('telephone');

  }

  .email:before {
    // content: 'email';
    @include iconSpan('email');
  }

  .address:before {
    // content: 'home';
    @include iconSpan('home');
  }

  .contacts:before {
    // content: 'home';
    @include iconSpan('contacts');
  }
}

.section-skills,
.section-sectors,
.section-employment,
.section-summary,
.section-role-sort,
.section-professional-summary,
.section-education {
  border: var(--section-border);
  margin-top: 5px;
  border-radius: 8px;
  padding: 20px 10px;
}


// Education.
.section-education {
  $g1: var( --background-brown100);
  $g2: var( --background-brown200);
  $g3: white;
  @include backgroundGradient( $g1, $g3, $g2);
  .education-title {
    @include sectionTitle();
  }

  .education-card {
    .education-card-title {
      @include regularTitle;
    }

    .education-card-content {
      @include regularContent;
    }
  }

}

// Employment.
.section-employment {
  .section-title-employment {
    @include sectionTitle();
  }
}

// Skills.
.section-skills {
  //$g1: red;
  //$g1:red;
  $g1: var( --background-yellow200);
  $g2: var( --background-yellow100);
  $g3: white;
  @include backgroundGradient( $g1, $g3, $g2);
  .section-skills-title {
    @include sectionTitle();
  }

  .skills-card-header {
    @include listContentTitle;
  }

  .skills-card-content {
    @include listContentStyle
  }
}

// Sectors.
.section-sectors {
  $g1: var( --background-brown100);
  $g2: var( --background-brown200);
  $g3: white;
  @include backgroundGradient( $g1, $g3, $g2);


  .sectors-title {
    @include sectionTitle();
  }

  .sectors-card-header {
    @include listContentTitle;
  }

  .sectors-content {
    @include regularContent();
  }
}

// Role Sought.
.section-role-sort {
  $g1: var( --background-green100);
  $g2: var( --background-green200);
  $g3: white;
  @include backgroundGradient( $g1, $g3, $g2);
  .role-sought-title {
    @include sectionTitle();
  }

  .role-sought-card-header {
    @include listContentTitle;
  }

  .role-sought-card-content {
    @include regularTitle;
  }
}

// PROFESSIONAL SUMMARY
.section-professional-summary {
  .professional-summary-title {
    @include sectionTitle();
  }

  .professional-summary-content {
    margin-top: 24px;

    & > table {
      display: table;
      border-collapse: collapse;
      //border-radius: 8px;
      //border: 1px grey solid!important;

      & td {
        padding: 18px;
        border: var(--white-a300) solid 1px;
        //background-color: orange;
        vertical-align: top;
        text-align: left;
        @include regularContent;

        & .title {
          //border: 1px solid crimson;
          @include  regularSemiBoldTitle;
          padding: 0!important;
          margin: 0;
          text-align: center;
          vertical-align: center;
          margin-bottom: 16px;

        }
        &:first-child > p {
          text-align: left;
          padding-left: 8px;

        }
      }
    }
    tr:nth-child(odd) {
      $g1: var( --background-green100);
      $g2: var( --background-green200);
      $g3: white;
      @include backgroundGradient( $g1, $g3, $g2);
    }
    tr:nth-child(even) {
      $g1: var( --background-brown100);
      $g2: var( --background-brown200);
      $g3: white;
      @include backgroundGradient( $g1, $g3, $g2);
    }
  }

}


/***
 *     _                              _
 *    | |  __ _  _   _   ___   _   _ | |_
 *    | | / _` || | | | / _ \ | | | || __|
 *    | || (_| || |_| || (_) || |_| || |_
 *    |_| \__,_| \__, | \___/  \__,_| \__|
 *               |___/
 */
header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  padding: 24px 20px 8px 24px;
  margin: 0;

  .title-name {
    display: inline-block;
    margin: 0;
  }

  .title-strap {
    margin-left: 14px;
  }

  .title-hr {
    //padding-top: 20px;
    //background-color: red;
    visibility: hidden;
  }

  .title-contact {
    border-top: solid .09em var(--blue-200);
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 10px;
    // padding-bottom: 1px;
    display: flex;
    justify-content: space-evenly;

    & span {
      margin-right: 4px;
    }
  }
}

.section-skills {


  & ul {
    column-count: 3;
  }
}

.section-employment {
  .card-employment {

    .card-title-employment {
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: 1fr 1fr;

      font: var(--card-title);

      > div:nth-child(2) {
        text-align: center;
      }
    }

    .card-content-employment {
      font: var(--card-content)
    }

  }
}

@media print {
  body {
    max-width: 21cm;
  }
  header > * {
    background-color: blue;
  }
  .section-skills {
    background-color: red !important;
  }
}
