@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700;800&family=Noto+Serif:wght@400;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600&display=swap");
:root {
  --familyForHeadings: "IBM Plex Sans", sans-serif;
  --Notofamily: "Noto serif", serif;
  --Bitterfamily: "Bitter", serif;
  --OpenSansfamily: "IBM Plex Sans", sans-serif;
  --IBMPlexfamily: "IBM Plex Sans", sans-serif;
  --FontSubheading1: 500 12px/18px var(--IBMPlexfamily);
  --section-title: 600 16px/18px var(IBMPlexfamily);
  --card-title: 600 14px/18px var(IBMPlexfamily);
  --card-content: 500 12px/18px var(--OpenSansfamily);
  --FontforStrap: 500 12px/18px var(--OpenSansfamily);
  --FontforRegular: 400 15px/22px var(--OpenSansfamily);
  --white-a100: #ffffff;
  --white-a200: #797d8a;
  --white-a300: #f5f7fd;
  --grey-40: #c2c9de;
  --grey-50: #42444b;
  --grey-60: #9da2b4;
  --grey-70: #777b88;
  --grey-80: #5f626c;
  --grey-90: #42444b;
  --grey-100: #232428;
  --blue-50: #cbcbf5;
  --blue-100: #d0d0de;
  --blue-200: #7c7c94;
  --blue-400: #4949b6;
  --blue-800: #4343a4;
  --teal-100: rgba(105, 102, 95, 0.95);
  --teal-200: rgba(165, 222, 205, 0.95);
  --teal-400: rgba(173, 166, 156, 0.7);
  --teal-600: rgba(122, 125, 140, 0.95);
  --section-border: 1px solid #f5f5f6;
  --background-pink100: #f8f0f2;
  --background-pink200: #faf7f7;
  --background-pink300: rgba(232, 206, 219, 0.4);
  --background-yellow100: rgba(253, 250, 238, 0.44);
  --background-yellow200: rgba(239, 232, 209, 0.15);
  --background-green100: rgba(220, 252, 236, 0.44);
  --background-green200: rgba(221, 250, 225, 0.15);
  --background-brown100: rgba(103, 86, 64, 0.07);
  --background-brown200: rgb(237, 244, 246);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: var(--OpenSansfamily);
  font-weight: 500;
  color: var(--grey-90);
  display: block;
  position: relative;
  width: 100vw;
}

.section-grid:nth-child(n+1) > .section-title {
  border-top: 4px solid #dcd8a9;
  border-bottom: 6px solid #c28615;
}

.section-grid:nth-child(2n+1) > .section-title {
  border-top: 4px solid #91bba5;
  border-bottom: 4px solid #adad65;
}

/***
 *          _           _  _
 *     ___ | |_  _   _ | |(_) _ __    __ _
 *    / __|| __|| | | || || || '_ \  / _` |
 *    \__ \| |_ | |_| || || || | | || (_| |
 *    |___/ \__| \__, ||_||_||_| |_| \__, |
 *               |___/               |___/
 */
body {
  background-color: var(--teal-400);
}

body:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(127, 127, 127, 0.05);
  background-image: radial-gradient(rgba(220, 220, 220, 0.93) 33%, transparent 33%);
  background-size: 0.1rem 0.2rem;
  z-index: -10000;
}

section {
  border: var(--section-border);
  margin-top: 5px;
  border-radius: 8px;
  padding: 20px 10px;
  margin-bottom: 18px;
  background-color: whitesmoke;
}

.material-icons {
  font-variant: normal;
  font-size: 1.3em !important;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 0.5;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.em {
  color: var(--grey-80) !important;
  font-weight: 600;
}

.dim {
  font: var(--FontforStrap);
  color: var(--grey-80);
}

.header2 {
  margin-bottom: 18px;
  display: block;
  position: sticky;
  top: 0;
  background: linear-gradient(to top, var(--teal-600) 20%, var(--teal-400) 50%, var(--teal-600) 90%);
  box-shadow: 0px 5px 18px -2px #948b5b;
  text-align: start;
}
.header2 .title-name {
  color: var(--white-a100);
  -webkit-text-stroke-width: 0.09rem;
  text-shadow: 0 1px 1px gainsboro;
  font-family: var(--familyForHeadings);
  font-weight: 500;
  font-size: 3.1em;
  padding-top: 15px;
  line-height: 1.1em;
}
.header2 .title-contact {
  box-sizing: border-box;
  width: 100%;
  color: var(--white-a100);
  font-size: 11px;
  font-kerning: normal;
}
.header2 .title-strap {
  font-size: 12px;
  color: var(--blue-100);
  font-stretch: semi-expanded;
}
.header2 .telephone, .header2 .email, .header2 .address, .header2 .contacts {
  font-stretch: expanded;
}
.header2 .telephone:before {
  content: "telephone";
  font-family: "Material Icons";
  font-size: 12px;
  padding-right: 10px;
  line-height: 15px;
  vertical-align: bottom;
  transform: translateY(0px);
}
.header2 .email:before {
  content: "email";
  font-family: "Material Icons";
  font-size: 12px;
  padding-right: 10px;
  line-height: 15px;
  vertical-align: bottom;
  transform: translateY(0px);
}
.header2 .address:before {
  content: "home";
  font-family: "Material Icons";
  font-size: 12px;
  padding-right: 10px;
  line-height: 15px;
  vertical-align: bottom;
  transform: translateY(0px);
}
.header2 .contacts:before {
  content: "contacts";
  font-family: "Material Icons";
  font-size: 12px;
  padding-right: 10px;
  line-height: 15px;
  vertical-align: bottom;
  transform: translateY(0px);
}

.skills-card-header {
  font: var(--FontSubheading1);
  font-stretch: semi-expanded;
  color: var(--grey-80);
}

.skills-card-content {
  font-size: 12px;
  margin: 1px;
  font-stretch: semi-expanded;
  color: var(--grey-50);
}

.section-industries .sectors-card-header {
  font: var(--FontSubheading1);
  font-stretch: semi-expanded;
  color: var(--grey-80);
}

.section-content {
  padding-left: 18px;
  padding-top: 16px;
  font: var(--FontforRegular);
}

.section-professional-summary .professional-summary-content {
  margin-top: 24px;
}
.section-professional-summary .professional-summary-content > table {
  display: table;
  border-collapse: collapse;
}
.section-professional-summary .professional-summary-content > table td {
  padding: 18px;
  border: var(--white-a300) solid 1px;
  vertical-align: top;
  text-align: left;
  padding-left: 18px;
  padding-top: 16px;
  font: var(--FontforRegular);
}
.section-professional-summary .professional-summary-content > table td .title {
  font: var(--FontforRegular);
  font-weight: 600;
  line-height: 19px;
  padding: 0 !important;
  margin: 0;
  text-align: center;
  vertical-align: center;
  margin-bottom: 16px;
}
.section-professional-summary .professional-summary-content > table td:first-child > p {
  text-align: left;
  padding-left: 8px;
}
.section-professional-summary .professional-summary-content tr:nth-child(odd) {
  background: linear-gradient(to left, var(--background-green100) 0, white 20%, var(--background-green200) 59%), radial-gradient(ellipse at top, var(--background-green100) 0, white 20%, var(--background-green200) 60%);
}
.section-professional-summary .professional-summary-content tr:nth-child(even) {
  background: linear-gradient(to left, var(--background-brown100) 0, white 20%, var(--background-brown200) 59%), radial-gradient(ellipse at top, var(--background-brown100) 0, white 20%, var(--background-brown200) 60%);
}

/***
 *     _                              _
 *    | |  __ _  _   _   ___   _   _ | |_
 *    | | / _` || | | | / _ \ | | | || __|
 *    | || (_| || |_| || (_) || |_| || |_
 *    |_| \__,_| \__, | \___/  \__,_| \__|
 *               |___/
 */
.main-container {
  display: block;
  position: relative;
  height: 100vh;
  overflow: auto;
}

.section-grid {
  margin-left: 18px;
  margin-right: 18px;
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr;
}
.section-grid > .title {
  font-weight: 500;
  color: white;
  text-shadow: 0.05em 0.05em 0.05em whitesmoke;
  -webkit-text-stroke: 0.01em white;
  letter-spacing: 3px;
  font-size: 12px;
  writing-mode: vertical-rl;
  padding: 10px;
  background-color: #9da2b4;
  text-align: center;
}
.section-grid > .content {
  display: block;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: transparent;
  margin-left: 10px;
}

.section-title {
  font-weight: 500;
  color: white;
  text-shadow: 0.05em 0.05em 0.05em whitesmoke;
  -webkit-text-stroke: 0.01em white;
  letter-spacing: 3px;
  font-size: 12px;
  writing-mode: vertical-rl;
  padding: 10px;
  background-color: #9da2b4;
  text-align: center;
}

.section-content {
  display: block;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: transparent;
  margin-left: 10px;
}

.header2 {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr;
  padding: 24px 20px 8px 24px;
  margin: 0;
  z-index: 1000;
}
.header2 .title-name {
  display: inline-block;
  margin: 0;
}
.header2 .title-strap {
  margin-left: 14px;
}
.header2 .title-hr {
  visibility: hidden;
}
.header2 .title-contact {
  border-top: solid 0.09em var(--blue-200);
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.header2 .title-contact span {
  margin-right: 4px;
}

.section-tech-skills ul {
  column-count: 3;
}

@media screen {
  .header2:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(127, 127, 127, 0.05);
    background-image: radial-gradient(rgba(220, 220, 220, 0.93) 33%, transparent 33%);
    background-size: 0.06rem 0.06rem;
  }
}
@media print {
  body {
    max-width: 21cm;
    background: none;
  }

  .main-container {
    height: auto;
  }

  .header2 {
    color: #5f626c;
    position: relative;
  }
  .header2 span, .header2 .title-name, .header2 .title-strap {
    color: #5f626c;
  }
  .header2 .header2:after {
    display: block;
  }
}

/*# sourceMappingURL=styles.css.map */
